<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500"
    >home</a
  >
  <a (click)="handleMe()" routerLinkActive="active" class="cursor-pointer text-blue-chill-300 hover:text-blue-chill-500"
    >about</a
  >UX / UI
</h1>

<p class="text-blue-chill-500 text-xs">
  Usability is one of the most, if not the most important factors when building your site or app. If your interface is
  confusing and the user fails to see a clear path their gonna leave, period. Also, remember content is king. Here at
  WideSign we pride ourselves on our simple and intuitive interface designs that aim to please
</p>

<p class="text-blue-chill-500 text-xs">
  Get in
  <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you need help with any new or existing project.
</p>
