<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>
  <a (click)="handleMe()" routerLinkActive="active" class="cursor-pointer text-blue-chill-300 hover:text-blue-chill-500">about</a>MORE
</h1>

<h2>Branding</h2>
<p class="text-blue-chill-900 text-xs">
  We have helped many companies with their branding and creating a identity for them/their business online. Logos and identity can be as
  important as the quality of the products/service you are trying to sell so don't underestimate their power. We can also theme your new
  project around any existing branding or logos you have.
</p>

<h2>Photgraphy</h2>
<p class="text-blue-chill-900 text-xs">
  Photography can be some of the modern day designers most important and exciting tools to work with. Doing a shoot for business or just
  being on site snapping natural shots for a couple of hours can give great a feel for the product or business you promoting. We are happy
  to take this on at an additional cost to your project.
</p>

<p class="text-blue-chill-900 text-xs">
  Get in
  <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you need help with any new or existing project.
</p>
