<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>
  <a (click)="handleMe()" routerLinkActive="active" class="cursor-pointer text-blue-chill-300 hover:text-blue-chill-500">about</a>Design
</h1>

<p class="text-blue-chill-900 text-xs">
  Whether its mobile first, responsive or app design, consideration needs to be taken to not overdo it. An intuitive interfaces and clever
  design compliments the content and draws consumers in.
</p>

<p class="text-blue-chill-900 text-xs">
  We use design sparingly and air on the side of caution to not muddy the message and disturb the experience for the end users. Animations
  are used subtly and were appropriate.
</p>

<p class="text-blue-chill-900 text-xs">
  Get in
  <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you need help with any new or existing project.
</p>
