<div class="max-w-sm mx-auto mt-10 rounded overflow-hidden shadow-lg space-y-4">
  <img
    class="h-64 w-full object-cover object-center"
    src="/assets/error/error-img.jpg"
    alt="Random unsplash photo"
  />
  <!-- <img
    class="h-64 w-full object-cover object-center"
    src="/assets/logos/logo_web_invert.svg"
    alt="Wide Sign inverted logo"
  /> -->
  <div class="px-6">
    <div class="font-bold text-xl">{{ title }}</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="px-6 pb-4 space-x-2">
    <a
      href="https://widesign.co.uk"
      target="_blank"
      rel="noreferrer"
      class="inline-block bg-primary-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 hover:bg-blue-400"
    >
      Tags are us
    </a>
  </div>
</div>
