<div>
  <h3 class="leading-1 mx-2 lg:mx-8 text-sm mt-24">
    It can be a minefield trying to choose the right designers/developer to work with, Elton's extremely passionate, he brings fresh new
    ideas to table every time.
  </h3>
  <h3 class="leading-10 mx-2 lg:mx-8 text-3xl font-bold mt-0">
    His extensive knowledge and computer wizardry is something to be admired, which has definitely given my company a competitive edge.
  </h3>
  <p class="text-right text-sm text-blue-chill-400 mx-10 font-semibold">Frankie - BT Roofing</p>
</div>
