<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>
  <a routerLink="/skills/me" routerLinkActive="active" class="cursor-pointer text-blue-chill-300 hover:text-blue-chill-500">skills</a
  >Development
</h1>

<p class="text-blue-chill-900 text-sm mt-1">
  Get <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you want to discuss your requirement or see more on our
  <a routerLink="/skills" routerLinkActive="router-link-active" class="primary-link">experience in the wild</a>.
</p>

<div class="flex space-x-10">
  <div class="mt-1">
    <h2>Stack</h2>
    <p class="text-3xl uppercase py-2 leading-7 text-blue-chill-400">
      <span class="hover:text-korma-400 cursor-pointer font-bold">HTML5</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">SASS</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Javascript</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">NODEJS</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Angular</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">PHP</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Wordpress</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">CSS3</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">jQuery</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Typescript</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">IONIC</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">SQL</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Mongo DB</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">BASH</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">APIs</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">AZURE</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">GIT</span>
    </p>
  </div>

  <div class="mt-1">
    <h2>Tooling</h2>
    <p class="text-3xl uppercase py-2 leading-7 text-blue-chill-400">
      <span class="hover:text-korma-400 cursor-pointer font-bold">VS Code</span> /
      <!-- <span class="hover:text-korma-400 cursor-pointer font-bold">Sketch</span> / -->
      <span class="hover:text-korma-400 cursor-pointer font-bold">Git Kraken</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">iTerm</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">iMac Pro</span> /
      <!-- <span class="hover:text-korma-400 cursor-pointer font-bold">illustrator</span> /  -->
      <span class="hover:text-korma-400 cursor-pointer font-bold">Firefox</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Chrome</span>
    </p>
  </div>
</div>

<!-- <p class="flex my-1">
  <a href="mailto:info@widesign.co.uk?subject=Can you help me? Elton" target="_blank" rel="noopener" class="primary-btn">Get in touch</a>

  <a routerLink="/clients" routerLinkActive="router-link-active" class="secondary-btn"> Existing clients </a>
</p> -->
