<!-- min-h-screen bg-primary-500 md:justify-center md:items-center -->
<div class="min-h-screen md:flex md:flex-column md:justify-center">
  <div class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-2 gap-1 md:gap-3 md:m-12">
    <!-- MOBILE LOGO / BURGER -->
    <app-logo-burger class="md:hidden"></app-logo-burger>

    <div
      class="
        relative
        md:h-auto md:row-span-1 md:col-span-2
        w-full
        p-6
        md:rounded md:border
        border-blue-chill-300
        bg-no-repeat bg-cover bg-l
      "
    >
      <h1 class="font-extrabold uppercase text-4xl md:text-2xl break-all text-korma-400">
        <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500 text-2xl">home</a
        >services
      </h1>
      <div class="font-extrabold text-2xl text-blue-chill-700 break-all pb-3">Skills</div>

      <p class="text-lg md:text-sm pb-2">
        Branding and creating identities for businesses and individuals for <span class="font-bold">over 15 years</span>.
      </p>

      <ul class="list-disc list-inside text-blue-chill-700 text-lg md:text-sm">
        <li>Web development &amp; design</li>
        <li>User-experience &amp; behaviour</li>
        <li>Brand/products enhancements</li>
        <li>Site structure and architecture</li>
        <li>Performance, engagement &amp; SEO</li>
        <!-- <li></li> -->
      </ul>
      <!-- <p class="flex my-1">
        <a href="mailto:info@widesign.co.uk?subject=Can you help me? Elton" target="_blank" rel="noopener" class="primary-btn"
          >Get in touch</a
        >

        <a routerLink="/clients" routerLinkActive="router-link-active" class="secondary-btn ml-2"> Existing client? </a>
      </p> -->
    </div>

    <!-- Development -->
    <div
      class="relative md:h-auto md:col-span-2 bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/dev.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">Dev</h1>
      <div class="font-extrabold text-sm break-all relative bottom-0 text-white">Front2Back</div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-base md:text-sm">
        Consious development decisions are made throughout any build and the demand for fast changing product landscapes is at the forefront
        of those choices. If you want to discuss your requirements just get in touch.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <a routerLink="/contact-us" routerLinkActive="active" class="primary-btn">Contact us</a>
      </p>
    </div>

    <!-- BACK BTN -->
    <app-back-btn class="hidden md:block h-screen/4 md:h-auto"></app-back-btn>

    <!-- Design -->
    <div
      class="relative md:h-auto md:col-span-2 bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/design.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">Design</h1>
      <div class="font-extrabold text-sm break-all relative bottom-0 text-white">Make things pretty</div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-base md:text-sm">
        We use design intelligently and air on the side of caution to not muddy the message. An intuitive interface and clever design
        compliments the content and draws consumers in.
      </p>

      <!-- <p class="flex my-2 md:absolute bottom-0">
      <a href="https://uk.cloudlogin.co/login" target="_blank" rel="noopener" class="primary-btn">Login</a>
    </p> -->
    </div>

    <!-- UX /UI -->
    <div
      class="relative md:h-auto md:col-span-2 bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/uxui.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">UX/UI</h1>
      <div class="font-extrabold text-sm break-all relative bottom-0 text-white">Make life good</div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-base md:text-sm">
        Usability is a key considerations when building any application. Confusing the user is you single point of failure. Here at WideSign
        we pride ourselves on our simple and intuitive target driven interfaces & design.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <!-- <a href="https://uk.cloudlogin.co/login" target="_blank" rel="noopener" class="primary-btn">Login</a> -->
        <a href="mailto:info@widesign.co.uk?subject=Can you help me? Elton" target="_blank" rel="noopener" class="primary-btn">
          Email me
        </a>
      </p>
    </div>

    <!-- More -->
    <!-- <a
      routerLink="/services/more"
      routerLinkActive="active"
      class="md:h-auto bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded cursor-pointer"
      style="background-image: url(/assets/more.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">Hosting account</h1>
      <div class="font-extrabold text-sm break-all relative bottom-0 text-white">Website &amp; Hosting</div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-sm">
        If you have received an outstandng payment reminder, this is where you can make your payment. Also, other useful tasks like manage
        domain name, add/modify email addresses.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <a href="https://uk.cloudlogin.co/login" target="_blank" rel="noopener" class="primary-btn">Login</a>
      </p>
    </a> -->

    <!-- LOGO -->
    <app-logo class="hidden md:block border border-blue-chill-300 md:rounded"></app-logo>

    <!-- FOOTER -->
    <!-- <app-footer class="md:col-span-5"></app-footer> -->
  </div>
</div>
