<div class="min-h-screen bg-primary-500">
  <div class="container mx-auto py-32 px-12">
    <h2>Skills</h2>
    <p>
      From the front-end to the back-end we use a variety of tech to help get he
      job done.
    </p>
    <div class="flex text-primary text-center">
      <div class="flex-1">
        <header>DEV / Design</header>
        <p>
          From the front-end to the back-end we use a variety of tech to help
          get he job done. HTML5, CSS3, SASS, Angular, Ionic, PHP, jQuery,
          Sketch, InVision, Photoshop, Illustrator, SQL, and API's.
        </p>

        <a
          routerLink="/skills"
          routerLinkActive="active"
          class="
            flex-1
            inline-block
            bg-indigo-500
            rounded-sm
            px-4
            py-5
            text-2xl
            font-semibold
            text-primary
            hover:bg-indigo-700
          "
          >More Info
        </a>
        <ul>
          <li>HTML5</li>
          <li>SCSS/SASS</li>
          <li>Angular</li>
          <li>Ionic</li>
          <li>PHP</li>
          <li>Jquery/Javascript</li>
          <li>Typescript</li>
        </ul>
      </div>
      <div class="flex-1">
        <header>UX/UI</header>
        <p>
          Usability is one of the most, if not the most important factors when
          building your site or app. If your interface is confusing and the user
          fails to see a clear path their gonna leave, period. Also, remember
          content is king. Here at WideSign we pride ourselves on our simple and
          intuitive interface designs that aim to please
        </p>
        <ul>
          <li>Sketch</li>
          <li>InVision</li>
          <li>Responsive</li>
          <li>Mobile First</li>
          <li>Accessibility</li>
        </ul>
      </div>

      <div class="flex-1 space-x-2 space-y-2">
        <header>Elsewhere</header>
        <p>
          We have helped many companies with their branding and creating a
          identity for them/their business online. Logos and identity can be as
          important as the quality of the products/service you are trying to
          sell so don't underestimate their power. We can also theme your new
          project around any existing branding or logos you have.
        </p>
        <ul>
          <li>Branding</li>
          <li>Hositng</li>
          <li>Domain / Email</li>
          <li>Phoography</li>
        </ul>
      </div>
    </div>
  </div>
</div>
