<!-- min-h-screen bg-primary-500 md:justify-center md:items-center -->
<div class="min-h-screen md:flex md:flex-column md:justify-center">
  <div class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-2 gap-1 md:gap-3 md:m-12">
    <!-- MOBILE LOGO / BURGER -->
    <app-logo-burger class="md:hidden"></app-logo-burger>

    <div
      class="
        relative
        group
        md:h-auto md:row-span-1 md:col-span-2
        w-full
        p-6
        md:rounded md:border
        border-blue-chill-300
        bg-no-repeat bg-cover bg-l
      "
    >
      <!-- style="background-image: url(/assets/clients/clients-selfie.jpg)" -->
      <h1 class="font-extrabold uppercase text-4xl md:text-2xl break-all text-korma-400">
        <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>CLIENTS
      </h1>
      <div class="md:hidden block font-extrabold text-2xl text-blue-chill-700 break-all pb-3">Existing</div>
      <div
        class="
          hidden
          md:block
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-2xl text-blue-chill-700
          break-all
          pb-3
        "
      >
        Existing
      </div>

      <p class="text-lg py-1">
        Clients should be able to find what they're looking for here. Login to your hosting account to make an outstanding payment, add
        email addresses or access you email online.
      </p>
      <p class="text-lg py-1">
        Dont be afraid to <a routerLink="/contact-us" class="primary-link">ask for help</a> if you still having problems.
      </p>
      <p class="text-xs absolute bottom-0 right-2 py-1">
        <a routerLink="/services" class="secondary-link">Not a client yet?</a>
      </p>
    </div>

    <!-- Hosting Account Login -->
    <div
      class="relative group md:h-auto md:row-span-1 md:col-span-2 bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/clients/client-account.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">Hosting account</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Website &amp; Hosting
      </div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-sm">
        If you have received an outstandng payment reminder you can login to your hosting account here. Manage domain name, add/modify email
        addresses and other stuff.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <a href="https://uk.cloudlogin.co/login" target="_blank" rel="noopener" class="primary-btn"> Login </a>
      </p>
    </div>

    <!-- BACK BTN -->
    <app-back-btn class="hidden md:block md:h-auto"></app-back-btn>

    <!-- Webmail -->
    <div
      class="relative group md:h-auto md:row-span-1 md:col-span-2 bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/clients/client-webmail.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">Webmail</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Access you inbox
      </div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-sm">
        Access you email online anywhere, anytime. If you
        <a href="mailto:info@widesign.co.uk?subject=Lost my webmail login details" target="_blank" rel="noopener" class="primary-link"
          >lost your login details</a
        >
        you will need to get in touch with me.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <a href="https://webmail.supremecluster.com/" target="_blank" rel="noopener" class="primary-btn"> Login </a>
      </p>
    </div>

    <div
      class="
        block
        md:hidden
        relative
        group
        md:h-auto md:row-span-1 md:col-span-2
        w-full
        p-6
        md:rounded md:border
        border-blue-chill-300
        bg-no-repeat bg-cover bg-l
      "
    >
      <!-- style="background-image: url(/assets/clients/clients-selfie.jpg)" -->
      <h1 class="font-extrabold uppercase text-4xl md:text-2xl break-all text-korma-400">
        <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>CLIENTS
      </h1>
      <div class="md:hidden block font-extrabold text-2xl text-blue-chill-700 break-all pb-3">New</div>
      <div
        class="
          hidden
          md:block
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-2xl text-blue-chill-700
          break-all
          pb-3
        "
      >
        New
      </div>
    </div>

    <!-- NEW project -->
    <div
      class="relative group md:row-span-1 md:col-span-2 md:h-auto bg-no-repeat bg-cover bg-center w-full bg-gray-200 p-5 md:rounded"
      style="background-image: url(/assets/clients/client-new.webp)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all">NEW Project</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Lets get started!
      </div>

      <p class="bg-white bg-opacity-80 rounded p-1 px-2 my-2 text-sm">
        Have a new project you want to discuss or need some help/updates on an exisitng site? Drop me an email and we can set up a meeting
        to discuss.
      </p>

      <p class="flex my-2 md:absolute bottom-0">
        <a href="mailto:info@widesign.co.uk?subject=Can you help me? Elton" target="_blank" rel="noopener" class="primary-btn">
          Email Elton
        </a>
      </p>
    </div>

    <!-- LOGO -->
    <app-logo class="hidden md:block border border-blue-chill-300 md:rounded"></app-logo>

    <!-- FOOTER -->
    <!-- <app-footer class="md:col-span-5"></app-footer> -->
  </div>
</div>
