<div class="min-h-screen bg-primary-700">
  <div class="container mx-auto py-32 px-12">
    <h2>About</h2>

    <div class="flex text-white text-center">
      <div class="flex-1">
        <p>
          We have been building for the web a while now, we are always happy to
          give out free quotes as we understand peoples budget can be very
          different especially depending on the type of project. Feel free to
          get in contact with us for any advice regarding a new or existing
          project. We truly want to make the internet a better place for
          everyone.
        </p>
      </div>
    </div>
  </div>
</div>
