<!-- min-h-screen bg-primary-500 md:justify-center md:items-center -->
<div class="min-h-screen md:flex md:flex-column md:justify-center">
  <div class="grid grid-cols-1 md:grid-cols-5 md:grid-rows-2 gap-1 md:gap-3 md:m-16">
    <!-- MOBILE LOGO -->
    <!-- <app-logo-mobile class="flex h-screen/2 md:h-auto md:hidden border-0 px-2 py-5"></app-logo-mobile> -->
    <!-- MOBILE LOGO PAGES -->
    <app-logo-sm class="md:hidden hover:animate-pulse"></app-logo-sm>

    <div class="group h-screen/2 md:h-auto md:row-span-1 md:col-span-4 w-full p-3 md:rounded border border-blue-chill-300">
      <!-- ABOUT MAIN -->
      <div *ngIf="currentTab === 'generic'">
        <!-- input example 'Thing in () [] represent child property !! [event]="currentTab" -->
        <app-me (eventClick)="handleEventClicked($event)"></app-me>
      </div>

      <!-- DEVELOPMENT -->
      <div *ngIf="currentTab === 'development'">
        <!-- input example 'Thing in () [] represent child property !! [event]="currentTab" -->
        <app-dev (eventClick)="handleEventClicked($event)"></app-dev>
      </div>

      <!-- DESIGN -->
      <div *ngIf="currentTab === 'design'">
        <app-design (eventClick)="handleEventClicked($event)"></app-design>
      </div>

      <!-- UX/UI -->
      <div *ngIf="currentTab === 'uxui'">
        <app-uxui (eventClick)="handleEventClicked($event)"></app-uxui>
      </div>

      <!-- MORE... -->
      <div *ngIf="currentTab === 'more'">
        <app-more (eventClick)="handleEventClicked($event)"></app-more>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </div>

    <!-- BACK BTN -->
    <app-back-btn class="hidden md:block h-screen/4 md:h-auto"></app-back-btn>

    <!-- Development -->
    <a
      (click)="currentTab = 'development'"
      routerLinkActive="active"
      class="
        group
        hover:animate-pulse
        h-screen/4
        md:h-auto
        bg-no-repeat bg-cover bg-center
        w-full
        bg-korma-400
        p-5
        md:rounded
        cursor-pointer
      "
      style="background-image: url(/assets/dev.jpg)"
    >
      <h1 class="font-extrabold uppercase text-4xl text-white break-all">Dev</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Front to back
      </div>
    </a>

    <!-- Design -->
    <a
      (click)="currentTab = 'design'"
      routerLinkActive="active"
      class="
        group
        hover:animate-pulse
        h-screen/4
        md:h-auto
        bg-no-repeat bg-cover bg-center
        w-full
        bg-korma-400
        p-5
        md:rounded
        cursor-pointer
      "
      style="background-image: url(/assets/design.jpg)"
    >
      <h1 class="font-extrabold uppercase text-4xl text-white break-all">Design</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Make things pretty
      </div>
    </a>

    <!-- UX /UI -->
    <a
      (click)="currentTab = 'uxui'"
      routerLinkActive="active"
      class="
        group
        hover:animate-pulse
        h-screen/4
        md:h-auto
        bg-no-repeat bg-cover bg-center
        w-full
        bg-korma-400
        p-5
        md:rounded
        cursor-pointer
      "
      style="background-image: url(/assets/uxui.jpg)"
    >
      <h1 class="font-extrabold uppercase text-4xl text-white break-all">UI / UX</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Make life good
      </div>
    </a>

    <!-- More -->
    <a
      (click)="currentTab = 'more'"
      routerLinkActive="active"
      class="
        group
        hover:animate-pulse
        h-screen/4
        md:h-auto
        bg-no-repeat bg-cover bg-center
        w-full
        bg-korma-400
        p-5
        md:rounded
        cursor-pointer
      "
      style="background-image: url(/assets/more.jpg)"
    >
      <h1 class="font-extrabold uppercase text-4xl text-white break-all">More</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
        "
      >
        Helpers
      </div>
    </a>

    <!-- LOGO -->
    <app-logo class="hidden md:block border-4 border-blue-chill-500 md:rounded hover:animate-pulse"></app-logo>

    <!-- FOOTER -->
    <!-- <app-footer class="md:col-span-5"></app-footer> -->
  </div>
</div>
