<div class="font-bold text-xl">{{ title }}</div>

<div class="h-screen">
  <div class="flex mx-auto mt-20">
    <div class="flex-none">
      <img
        class="h-40 object-cover object-center"
        src="/assets/logos/logo_web_invert.svg"
        alt="Wide Sign inverted logo"
      />
    </div>

    <div class="flex-1">
      <svg viewBox="0 0 800 200">
        <text x="50%" y="50%" fill="transparent" text-anchor="middle">
          Elton Whybrow
        </text>
      </svg>
    </div>
  </div>
</div>

<app-skills></app-skills>
<app-projects></app-projects>
<app-about></app-about>
<app-testimonials></app-testimonials>
