<!-- min-h-screen bg-primary-500 md:justify-center md:items-center -->
<div class="min-h-screen md:flex md:flex-column md:justify-center">
  <div class="grid grid-cols-1 md:grid-cols-6 md:grid-rows-2 md:gap-3 md:m-12">
    <!-- MOBILE LOGO -->
    <app-logo-mobile class="order-2 md:order-none md:h-auto md:hidden border-0 md:py-5"></app-logo-mobile>

    <!-- SKILLS -->
    <a
      routerLink="/skills"
      routerLinkActive="active"
      class="
        order-4
        md:order-none
        group
        h-screen/4
        md:h-auto md:row-span-2 md:col-span-2
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center
        w-full
        bg-gray-200
        p-3
        md:rounded
        flex
        md:block
        items-center
        justify-center
      "
      style="background-image: url(/assets/skills/skills.jpg)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">
        <span class="block md:hidden text-blue-chill-300 text-base">Skills</span>Services
      </h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          text-white
          relative
          bottom-0
          hidden
          md:block
        "
      >
        Need enlightenment?
      </div>
    </a>

    <!-- RESUME -->
    <a
      href="https://drive.google.com/file/d/1kxmPTJPk_RUZv6ktXIkvw7_A1c0EMYp8/view?usp=sharing"
      target="_blank"
      rel="noopener"
      class="
        order-5
        md:order-none
        group
        h-screen/4
        md:h-auto md:col-span-1
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center bg-gray-200
        p-3
        md:rounded
        flex
        md:block
        items-center
        justify-center
      "
      style="background-image: url(/assets/resume/resume.jpg)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">
        R&eacute;sum&eacute;
      </h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
          hidden
          md:block
        "
      >
        <!-- <span class="pr-1 text-2xl">[</span> -->
        Download/View
        <!-- <span class="pl-1 text-2xl">]</span> -->
      </div>
    </a>

    <!-- ABOUT -->
    <a
      routerLink="/about-us"
      routerLinkActive="active"
      class="
        order-3
        md:order-none
        group
        h-screen/4
        md:h-auto
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center
        w-full
        bg-gray-200
        p-3
        md:rounded
        flex
        md:block
        items-center
        justify-center
      "
      style="background-image: url(/assets/about/about.jpg)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">About</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          relative
          bottom-0
          text-white
          hidden
          md:block
        "
      >
        <!-- <span class="pr-1 text-2xl">[</span> -->
        Who you're<br />
        hiring
        <!-- <span class="pl-1 text-2xl">]</span> -->
      </div>
    </a>

    <!-- CONTACT -->
    <a
      routerLink="/contact-us"
      routerLinkActive="active"
      class="
        order-6
        md:order-none
        group
        h-screen/4
        md:h-auto md:row-span-2
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center
        w-full
        bg-gray-200
        p-3
        md:rounded
        flex
        md:block
        items-center
        justify-center
      "
      style="background-image: url(/assets/contact/contact.jpg)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">
        Contact<span class="block md:hidden text-blue-chill-300 text-base">Me</span>
      </h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm text-white
          break-all
          relative
          bottom-0
          hidden
          md:block
        "
      >
        <!-- <span class="pr-1 text-2xl">[</span> -->
        Get in touch
        <!-- <span class="pl-1 text-2xl">]</span> -->
      </div>
    </a>

    <!-- CLIENTS -->
    <a
      routerLink="/clients"
      routerLinkActive="active"
      class="
        order-1
        md:order-none
        group
        h-24
        md:h-auto
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center
        w-full
        bg-gray-200
        md:p-3 md:rounded
        flex
        md:block
        items-center
        md:justify-center
      "
      style="background-image: url(/assets/clients/clients.jpg); background-position: bottom"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">
        <span class="block md:hidden text-blue-chill-300 text-base">Existing / Login</span>Clients
      </h1>
      <div
        class="
          transition-opacity
          duration-100>
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm text-white
          break-all
          relative
          bottom-0
          hidden
          md:block
        "
      >
        <!-- <span class="pr-1 text-2xl">[</span> -->
        Login &amp; Hosting
        <!-- <span class="pl-1 text-2xl">]</span> -->
      </div>
    </a>

    <!-- TESTIMONIALS -->
    <a
      routerLink="/testimonials"
      routerLinkActive="active"
      class="
        order-7
        md:order-none
        group
        h-screen/4
        md:h-auto md:col-span-2
        hover:animate-pulse
        bg-no-repeat bg-cover bg-center
        w-full
        bg-gray-200
        p-3
        md:rounded
        flex
        md:block
        items-center
        justify-center
      "
      style="background-image: url(/assets/testimonials/testimonials.jpg)"
    >
      <h1 class="font-extrabold uppercase text-3xl text-white break-all p-2 bg-blue-chill-500 md:p-0 md:bg-transparent">Testimonials</h1>
      <div
        class="
          transition-opacity
          duration-1000
          ease-out
          opacity-0
          group-hover:opacity-100
          font-extrabold
          text-sm
          break-all
          text-white
          relative
          bottom-0
          hidden
          md:block
        "
      >
        <!-- <span class="pr-1 text-2xl">[</span> -->
        Happy people
        <!-- <span class="pl-1 text-2xl">]</span> -->
      </div>
    </a>

    <!-- LOGO -->
    <app-logo class="hidden md:block border border-blue-chill-300 md:rounded"></app-logo>

    <!-- FOOTER -->
    <!-- <app-footer class="md:col-span-5"></app-footer> -->
  </div>
</div>
