svg text {
  stroke: theme("colors.primary.500");
  stroke-dasharray: 0;
  font-size: 120px;
  font-weight: 600;
  stroke-width: 1px;
  animation: textAnimation 4s 1 linear;
  font-family: "Bebas Neue", cursive;
}

@keyframes textAnimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dasharray: 100% 0;
    stroke-dashoffset: -20;
  }
}
