<div class="min-h-screen">
  <div
    class="max-w-sm mx-auto mt-10 rounded overflow-hidden shadow-lg space-y-4"
  >
    <!-- <img
    class="h-64 w-full object-cover object-center"
    src="https://source.unsplash.com/random"
    alt="Random unsplash photo"
  /> -->
    <img
      class="h-64 w-full object-cover object-center"
      src="/assets/logos/logo_web_invert.svg"
      alt="Wide Sign inverted logo"
    />
    <div class="px-6">
      <div class="font-bold text-xl">{{ title }}</div>
      <p class="text-gray-700 text-base">
        New widesign using Angular 10 &amp; Tailwind css
      </p>
    </div>
    <div class="flex px-6 pb-4 space-x-2">
      <a
        routerLink="/projects"
        routerLinkActive="active"
        class="flex-1 inline-block bg-indigo-500 rounded-sm px-4 py-5 text-2xl font-semibold text-white hover:bg-indigo-700"
        >More Info
      </a>
      <a
        routerLink="/contact-us"
        routerLinkActive="active"
        class="flex-1 inline-block bg-primary-500 rounded-sm px-4 py-5 text-2xl font-semibold text-white hover:bg-blue-400"
        >Contact
      </a>
    </div>
  </div>
</div>
