<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>about
</h1>
<div
  class="
    transition-opacity
    duration-1000
    ease-out
    opacity-0
    group-hover:opacity-100
    font-extrabold
    text-lg text-blue-chill-500
    break-all
    pb-1
  "
>
  Who you're hiring
</div>

<p class="text-blue-chill-900 text-xs">
  Having obtained a large/varied development experiecne spanning over 2 decades, we are tooled for any mission that comes our way. Our
  development team are proficent in HTML5, CSS3/SASS, NODEJS, Angular (NOT JS, please), Ionic, PHP (Wordpress), jQuery, Sketch, InVision,
  Illustrator, SQL, MongoDB and familiar with use of API's. We bundle the correct stack we need to use depending on the project as everyone
  has different requirements. Creating engaging user friendly experiences and showcasing you businesses key elements is our main aim,
  everytime.
</p>

<p class="text-blue-chill-900 text-xs">
  Get in
  <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you need help with any new or existing project.
</p>
