<div class="mx-auto">
  <div class="flex text-left px-3">
    <div class="flex-1 space-x-2">
      <a
        href="https://www.linkedin.com/in/elton-whybrow/"
        target="_blank"
        rel="noopener"
        class="opacity-75 hover:opacity-100 cursor-pointer"
      >
        <img class="inline-block w-8 h-8" src="../../../assets/icon/social/linkedin-icon.png" alt="LinkedIn" width="32px" height="32px" />
      </a>
      <a href="https://github.com/EltonWhybrow" target="_blank" rel="noopener" class="opacity-75 hover:opacity-100 cursor-pointer">
        <img class="inline-block w-8 h-8" src="../../../assets/icon/social/github-icon.png" alt="Github" width="32px" height="32px" />
      </a>
      <!-- <a href="https://bitbucket.org/wyzerus/" target="_blank" rel="noopener" class="opacity-75 hover:opacity-100 cursor-pointer">
        <img
        class="inline-block w-8 h-8"
        src="../../../assets/icon/social/linkedin-icon.png"
        alt="LinkedIn"
        width="32px"
        height="32px"
        />
      </a> -->
      <a href="https://twitter.com/eltonwhybrow" target="_blank" rel="noopener" class="opacity-75 hover:opacity-100 cursor-pointer">
        <img class="inline-block w-8 h-8" src="../../../assets/icon/social/twitter-icon.png" alt="Twitter" width="32px" height="32px" />
      </a>

      <a href="https://www.instagram.com/eltongram/" target="_blank" rel="noopener" class="opacity-75 hover:opacity-100 cursor-pointer">
        <img class="inline-block w-8 h-8" src="../../../assets/icon/social/instagram-icon.png" alt="LinkedIn" width="32px" height="32px" />
      </a>
    </div>

    <div class="flex-1 text-right px-2">
      <span class="inline-block align-baseline text-blue-chill-800 text-xs pt-3">&copy; WideSign 2006-2021</span>
    </div>
  </div>
</div>
