<div class="bg-primary-800">
  <div class="container mx-auto py-48 px-8">
    <div class="flex text-white text-center">
      <div class="flex-1">
        <header>Acount</header>
        <ul>
          <li>Client Login</li>
          <li>Team Login</li>
          <li>Playground</li>
        </ul>
      </div>
      <div class="flex-1">
        <header>Find out more</header>
        <ul>
          <li>Testimonial</li>
          <li>Get in touch</li>
          <li>Past work</li>
          <li>Skills</li>
        </ul>
      </div>

      <div class="flex-1 space-x-2 space-y-2">
        <header>Social</header>

        <img
          class="inline-block w-16 h-16"
          src="https://placehold.it/36x36?text=icon"
          alt=""
        />
        <img
          class="inline-block w-16 h-16"
          src="https://placehold.it/36x36?text=icon"
          alt=""
        />
        <img
          class="inline-block w-16 h-16"
          src="https://placehold.it/36x36?text=icon"
          alt=""
        />
        <img
          class="inline-block w-16 h-16"
          src="https://placehold.it/36x36?text=icon"
          alt=""
        />
        <img
          class="inline-block w-16 h-16"
          src="https://placehold.it/36x36?text=icon"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
