<div
  (click)="backToHome()"
  class="block group bg-no-repeat bg-cover bg-center bg-gray-200 p-5 h-full w-full md:rounded cursor-pointer"
  style="background-image: url(/assets/back.jpg)"
>
  <h1 class="font-extrabold uppercase text-4xl text-white break-all">Back</h1>
  <div
    class="
      transition-opacity
      duration-1000
      ease-out
      opacity-0
      group-hover:opacity-100
      font-extrabold
      text-sm
      break-all
      relative
      bottom-0
      text-white
    "
  >
    Other stuff
  </div>
</div>
