<h1 class="font-extrabold uppercase text-2xl break-all text-korma-400">
  <a routerLink="/" routerLinkActive="active" class="cursor-pointer text-blue-chill-200 hover:text-blue-chill-500">home</a>
  <a routerLink="/skills/me" routerLinkActive="active" class="cursor-pointer text-blue-chill-300 hover:text-blue-chill-500">skills</a>UX/UI
</h1>

<p class="text-blue-chill-900 text-lg mt-1">
  Usability is one of the most, if not the most important factors when building your site or app. If your interface is confusing and the
  user fails to see a clear path their gonna leave, period. Also, remember content is king. Here at WideSign we pride ourselves on our
  simple and intuitive target driven interfaces & designs. Get in
  <a href="mailto:elton@widesign.co.uk" class="text-korma-500">in touch </a>
  if you want to discuss your requirement or see more on our
  <a routerLink="/skills" routerLinkActive="router-link-active" class="primary-link">experience in the wild</a>.
</p>

<div class="flex space-x-10">
  <div class="mt-1">
    <h2>Concepts</h2>
    <p class="text-3xl uppercase py-2 leading-7 text-blue-chill-400">
      <span class="hover:text-korma-400 cursor-pointer font-bold">Visual Design</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">User Interface</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Usability</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Functionality</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Information Architecture</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Interaction Design</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Content</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">User Experience</span> /
    </p>
  </div>

  <!-- <div class="mt-1">
    <h2>Tooling</h2>
    <p class="text-3xl uppercase py-2 leading-7 text-blue-chill-400">
      <span class="hover:text-korma-400 cursor-pointer font-bold">inVision</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">Sketch</span> /
      <span class="hover:text-korma-400 cursor-pointer font-bold">iTerm</span> /
    </p>
  </div> -->
</div>

<!-- <p class="flex my-1">
  <a href="mailto:info@widesign.co.uk?subject=Can you help me? Elton" target="_blank" rel="noopener" class="primary-btn">Get in touch</a>

  <a routerLink="/clients" routerLinkActive="router-link-active" class="secondary-btn"> Existing clients </a>
</p> -->
